.SignUpForm {
  width: 100%;
}

@media screen and (max-width: 525px) {
  .suf-ng {
    flex-direction: column !important;
  }
  
  .suf-ng > .ml-3 {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  .suf-btn {
    display: block !important;
    width: 100% !important;
  }
}