.sp-description {
  font-size: 20px;
}

.sp-phrase {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 824px) {
  .sp-description {
    font-size: 15px;
  }

  .sp-phrase {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .SplashPage {
    display: block !important;
    height: fit-content !important;
    margin-bottom: 20px !important;
  }
}