.SplashPage {
  padding-top: 20px !important;
}

@media screen and (max-width: 991px) {
  .SplashPage {
    flex-direction: column-reverse !important;
    justify-content: space-evenly;
    height: fit-content !important;
  }
  
  .SplashPage > :nth-child(1n) {
    margin-bottom: 20px !important;
  }
}